@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
body {
    background-color: rgb(45, 46, 46);
    font: normal 15pt Arial;
    font-family: 'Roboto Mono', monospace;
}
header { 
    color: white;
    text-align: center;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.363);
}
section {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.363);
}
div {
    text-align: center;
    padding: 8px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}